<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-5 text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            {{ if .Site.Params.logo }}
            <img rel="logo" class="footer-logo light-only" src="{{ .Site.Params.logo }}" />
            <img rel="logo" class="footer-logo dark-only" src="{{ .Site.Params.logoDark }}" />
            {{ else }}
            <p>{{ .Site.Params.Title }}</p>
            {{ end }}
            <p class="address">Beauchef 851, Edificio Norte</p>
            <p class="address">2do piso, Oficina 201D</p>
            <p class="address"><b>Contacto General: </b>contacto(arroba)hackerlab.cl</p>
            <p class="address"><b>Contacto Prensa: </b>comunicaciones(arroba)dcc.uchile.cl</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
      <div class="col-lg-5 text-center">
        <ul class="list-inline">
          <li class="list-inline-item"><img alt="logo" class="light-only dcc-logo" src="/images/logo-dcc.svg" /></li>
          <li class="list-inline-item"><img alt="logo" class="dark-only dcc-logo" src="/images/logo-dcc-dark.svg" />
          </li>
        </ul>
        <small xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">El contenido de <a
            property="dct:title" rel="cc:attributionURL" href="https://hackerlab.cl">Hackerlab U. de Chile</a>,
          elaborado por el <a rel="cc:attributionURL dct:creator" property="cc:attributionName"
            href="https://dcc.uchile.cl">DCC
            Universidad de Chile</a>, se encuentra publicado bajo una licencia <a
            href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank"
            rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0<img
              style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
              src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img
              style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
              src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img
              style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
              src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"></a></small>
      </div>
    </div>
</footer>