{{ define "cover" }}
<img class="cover light-only" src="/images/hackerlab_cover.svg" alt="">
<img class="cover dark-only" src="/images/hackerlab_cover_dark.svg" alt="">
{{ end }}

{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/el-lab/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">¿Qué hacemos?</h2>
        <p>Ejecutamos proyectos de ingeniería e investigación con el objetivo de detectar y mitigar vulnerabilidades en
          infraestructura tecnológica de interés público.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">¿Qué precauciones tomamos?</h2>
        <p>Seguimos los principios de divulgación responsable, siempre poniendo como primer interés la integridad,
          disponibilidad y confidencialidad de datos y los sistemas que los manejan.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">¿Qué nos respalda?</h2>
        <p>Funcionamos como un grupo de investigación dentro del Laboratorio de Criptografía Aplicada y Ciberseguridad
          (CLCERT) del Departamento de Ciencias de la
          Computación de la Universidad de Chile.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
